.btn {
  @apply inline-flex items-center px-4 py-3 leading-none border-2 rounded-sm;

  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;

  &::after {
    transition-property: background-color, border-color, opacity, box-shadow, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }

  &--ext {
    @mixin icon chevron-right;

    &::after {
      @apply flex-shrink-0 ml-1;
    }
  }

  &--ext:hover::after,
  .group:hover &--ext::after {
    transform: translateX(50%);
  }

  &--primary {
    @apply text-white no-underline bg-primary border-primary;

    &:hover,
    .group:hover & {
      @apply text-white no-underline bg-primary-hover border-primary-hover;
    }

    &-inverse {
      @apply no-underline bg-white border-white text-primary;

      &:hover,
      .group:hover & {
        @apply text-white no-underline bg-primary-hover border-primary-hover;
      }
    }
  }

  &--secondary {
    @apply text-pitchblack no-underline bg-green border-green;

    &:hover,
    .group:hover & {
      @apply no-underline bg-primary-hover border-primary-hover text-white;
    }

    &-inverse {
      @apply no-underline bg-white border-white text-secondary;

      &:hover,
      .group:hover & {
        @apply text-white no-underline bg-secondary-hover border-secondary-hover;
      }
    }
  }

  &--tertiary {
    @apply text-white no-underline bg-pitchblack border-pitchblack;

    &:hover,
    .group:hover & {
      @apply text-white no-underline bg-primary-hover border-primary-hover;
    }

    &-inverse {
      @apply no-underline bg-white border-white text-primary;

      &:hover,
      .group:hover & {
        @apply text-white no-underline bg-primary-hover border-primary-hover;
      }
    }
  }

  &--quaternary {
    @apply text-white no-underline bg-transparent border-white;

    &:hover,
    .group:hover & {
      @apply text-white no-underline bg-primary-hover border-primary-hover;
    }

    &-inverse {
      @apply no-underline bg-white border-white text-primary;

      &:hover,
      .group:hover & {
        @apply text-white no-underline bg-primary-hover border-primary-hover;
      }
    }
  }

  &--ghost {
    @apply text-pitchblack no-underline bg-transparent border-pitchblack;

    &:hover,
    .group:hover & {
      @apply text-white no-underline bg-primary-hover border-primary-hover;
    }

    &-inverse {
      @apply text-white no-underline bg-transparent border-white;

      &:hover,
      .group:hover & {
        @apply no-underline bg-white border-white text-primary-hover;
      }
    }
  }
}
