/*.card,
.card .link--ext, .card .cardDate{
  transition:0.3s ease;
}

.card:hover{
  color: white;
  background-color: #2D92BF;
}

.card:hover .link--ext, .card:hover .cardDate{
    color: white;
}
*/
