.clipLinks{
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
}

.clipRechts{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}

.clip{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}



.clip-white{
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.clip-gray{
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}


@media screen and (min-width:400px){
    .clip-foot2{
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

    }

    .clipGreen{
        clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    }
    
    .clipBlue{
        clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
    }
}

@media screen and (min-width:820px){
    .clip-foot{
        clip-path: polygon(28% 20%, 100% 20%, 100% 100%, 18% 100%);
    }

    .clipGreen{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
    }
    
    .clipBlue{
        clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
    }
}

@media screen and (min-width:980px){
    .clip-foot{
        clip-path: polygon(25% 20%, 100% 20%, 100% 100%, 5% 100%);
    }
}

@media screen and (min-width:1200px){
    .clip-foot{
        clip-path: polygon(20% 20%, 100% 20%, 100% 100%, 0% 100%);
    }
}





.clip-footdiv{
    clip-path: polygon(0 55%, 100% 55%, 100% 73%, 0 100%);
}