.clip-white{
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.clip-gray{
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.clip-foot{
    clip-path: polygon(20% 20%, 100% 20%, 100% 100%, 0% 100%);
}

.clip-footdiv{
    clip-path: polygon(0 55%, 100% 55%, 100% 73%, 0 100%);
}