@layer components {
  .link {
    @apply inline-flex underline text-pitchblack;

    &:hover {
      @apply text-primary-hover;
    }

    &--ext {
      @apply items-center;
      @mixin icon chevron-right;

      &::after {
        @apply ml-1;
        @apply text-primary
      }

      &:hover::after,
      .group:hover &::after {
        @apply text-primary-hover;
      }
    }

    &--ext2 {
      @apply items-center;
      @mixin icon chevron-right;
      
      &::after {
        @apply ml-1;
        @apply text-primary;

      }
    }

    &--extended::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  
}
