.navigatie li {
    position: relative;
  }
  
  .navigatie li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 4px solid transparent;
  }
  
  .navigatie li a:hover::before {
    border-bottom-color: #2D92BF;
  }
  
.divNav nav div{
  background-color: red;
  position: absolute;
}