.clipLinks{
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
}

.clipRechts{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}

.clip{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.clipGreen{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%);
}

.clipBlue{
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%);
}